.stories
  &-wrapper
    padding-top: 130px 
    display: flex
    justify-content: space-between
  &-description
    &__wrapper
      flex-basis: 40%
      margin-left: -5px
    &__hashtag
      width: 90px
      padding: 6px 16px
      border-radius: 2000px
      background-color: rgba(54, 179, 126, 0.1)
      margin-bottom: 26px
      margin-top: -10px
      text-align: center
      &--text
        font-family: Open Sans
        font-style: normal
        font-weight: 600
        font-size: 14px
        line-height: 20px
        text-transform: uppercase
        color: rgba(54, 179, 126, 1)
    &__title
      font-family: HKGrotesk
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      color: $font-color
      margin: 0
      margin-bottom: 26px
    &__text
      max-width: 400px
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 36px
      color: $hero-text-color
      margin-bottom: 48px
    &__button
      &-wrapper
        display: flex
      &--prev
        position: relative
        width: 56px
        height: 56px
        border: 2px solid $font-color
        border-radius: 50%
        margin-right: 20px
        cursor: pointer
        &:hover
          box-shadow: 0 0 20px $hover-color inset, 0 0 20px $hover-color
      &--next
        position: relative
        width: 56px
        height: 56px
        border: 2px solid $font-color
        border-radius: 50%
        margin-right: 20px
        cursor: pointer
        &:hover
          box-shadow: 0 0 20px $hover-color inset, 0 0 20px $hover-color
      &-image
        &--prev
          position: absolute
          top: 36%
          left: 40%
          transform: rotate(180deg)
        &--next
          position: absolute
          top: 36%
          left: 40%
  &__swiper
    &-container
      flex-basis: 60%
      height: 500px
    &-wrapper
      height: 100%
    &-slide
      display: flex
      justify-content: flex-end
    

  &-picture
    &__wrapper
      position: relative
      margin-left: 28px
      &:last-child
        margin-right: 5px
    &__title
      margin: 0
      font-family: HKGrotesk
      font-style: normal
      font-weight: 600
      font-size: 22px
      line-height: 32px
      letter-spacing: 0.2px
      color: $font-color
      margin-bottom: 22px
      &__wrapper
        position: absolute
        width: 312px
        height: 178px
        padding: 20px 20px 0 20px
        top: 296px
        left: 10px
        background-color: $block-color
    &__link
      font-family: Open Sans
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      text-decoration: none
      color: $link-color
      &:hover
        box-shadow: 0 0 20px $hover-color inset, 0 0 20px $hover-color
    &-image
      position: absolute
      width: 100%
      top: -15%
      &__wrapper
        width: 312px
        height: 317px
        border-radius: 8px 8px 0px 0px
        overflow: hidden
        position: relative
      


  


  