.testimonial
  & > .container
    padding: 106px 0
    border-bottom: 1px solid $border-color
  &__swiper
    &-container
    width: 100%
    height: 100%
    padding: 80px auto
  &-wrapper
    display: flex
    flex-direction: column
    align-items: center
    margin: auto
    font-family: HKGrotesk
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 42px
    letter-spacing: 0.133333px
    color: $font-color
    text-align: center
    cursor: pointer
  &-text 
    padding: 12px 200px
  &-signature
    margin-top: -2px
    font-weight: bold
    line-height: 24px
    letter-spacing: 0.2px
    margin-bottom: 66px
.swiper
  &-pagination
    &-bullet
      width: 5px
      height: 5px
      margin: 0 8px !important
      display: inline-block
      border-radius: 100%
      background: $bullet-color
      opacity: 1
      &-active
        background: $font-color
      





