.trending
  & > .container
    max-width: 1170px
    padding-top: 26px
    padding-right: 20px
    padding-left: 20px
  &__title
    &-wrapper
      display: flex
      justify-content: space-between
  &-title
    font-family: HKGrotesk
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: $font-color
    margin-top: 0
  &-links
    margin: 0
    margin-top: 16px
    list-style-type: none
    display: flex
    align-items: flex-start
    &__item
      margin: 0
      margin-left: 36px
      text-decoration: none
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 25px
      color: $hero-text-color
      cursor: pointer
      outline-width: 0
      &--selected
        font-weight: bold
        color: $font-color
      &:hover
        box-shadow: 0 0 20px $hover-color inset, 0 0 20px $hover-color
  &__wrapper
    display: none
    flex-wrap: wrap
    justify-content: space-between
    padding-top: 8px
    margin: 0 -5px
    &--active
      display: flex
  &__card
    width: 260px
    padding-bottom: 50px
    margin: 0 5px
    text-decoration: none
    &--empty
      background-color: $link-color
      border-radius: 8px
      height: 350px
      position: relative
      cursor: pointer
      outline-width: 0
      &:hover
        box-shadow: 0 0 20px $hover-color inset, 0 0 20px $hover-color
    &-empty
      &__wrapper
        position: absolute
        display: flex
        flex-direction: column
        align-items: center
        left: 50%
        top: 35%
        transform: translateX(-50%)
      &__title
        font-family: HKGrotesk
        font-style: normal
        font-weight: bold
        font-size: 24px
        line-height: 32px
        text-align: center
        letter-spacing: 0.2px
        color: $white
      &__image
        margin-bottom: 6px
    &-image
      object-fit: cover      
      &__wrapper
        height: 350px
        border-radius: 8px
        overflow: hidden
        outline-width: 0
        &:hover
          box-shadow: 0 0 20px $hover-color inset, 0 0 20px $hover-color            
    &-title
      margin-left: 12px
      margin-top: 18px
      margin-bottom: 4px
      font-family: HKGrotesk
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.2px
      color: $font-color
      outline-width: 0
      &:hover
          box-shadow: 0 0 20px $hover-color inset, 0 0 20px $hover-color
      &-link
        text-decoration: none
        outline-width: 0
        &:hover
          box-shadow: 0 0 20px $hover-color inset, 0 0 20px $hover-color
    &-price
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 36px
      color: $hero-text-color
      &__wrapper
        padding-left: 12px
        
        display: flex
        justify-content: space-between
    &-button
      border: none
      background-color: transparent
      cursor: pointer
      outline-width: 0
      &:hover
          box-shadow: 0 0 20px $hover-color inset, 0 0 20px $hover-color





    
